<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="canonical" href="https://서문시장.net/촌스럽던남자">
    <meta name="robots" content="index,follow">
    <meta name="description" content="남성복 슬림사이즈부터 ~빅사이즈까지">

    <meta property="og:type" content="website">
    <meta property="og:title" content="서문시장.net">
    <meta property="og:description" content="남성복 슬림사이즈부터 ~빅사이즈까지">
    <meta property="og:image" content="https://westgateproject.blob.core.windows.net/blob1/smMarketIcon144.png">
    <meta property="og:url" content="https://서문시장.net/촌스럽던남자">

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("촌스럽던 남자", "Index", "Home", new { area = "촌스럽던남자" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 쇠젓가락</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>