@model List<seomoonsijang.DataObjects.UserInfoEntity>
@{
    ViewBag.Title = "계정 관리";
}
<h2><a href="/Admin">@ViewBag.Title</a></h2>


<div>
    <div class="container">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("승인 대기", "Index", "Admin")</li>
            <li>@Html.ActionLink("홈페이지 신청", "Homepage", "Admin")</li>
            <li>@Html.ActionLink("서비스 중", "OnService", "Admin")</li>
            <li>@Html.ActionLink("기간 초과", "TimeOver", "Admin")</li>
            <li>@Html.ActionLink("보관 기간", "Keep", "Admin")</li>
            <li>@Html.ActionLink("삭제 필요", "Delete", "Admin")</li>
        </ul>
    </div>
</div>


<h2>홈페이지 신청 목록</h2>
@using (Html.BeginForm("Homepage", "Admin", FormMethod.Get))
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-md-1">ID</th>
                <th class="col-md-1">매장위치</th>
                <th class="col-md-1">매장이름</th>
                <th class="col-md-1">지불방법</th>
                <th class="col-md-1">홈페이지</th>
                <th class="col-md-1">신청여부</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.PartitionKey</td>
                    <td>@item.RowKey</td>
                    <td>@item.ShopName</td>
                    <td>@item.Payment</td>
                    <td>@item.AddInfo</td>
                    <td>@item.Homepage</td>
                    <td><input type="checkbox" name="homepage" value="@item.PartitionKey^@item.RowKey"></td>
                </tr>
            }
        </tbody>

    </table>
    <input class="btn pull-right" type="submit" value="제작 완료">
}

