@model List<seomoonsijang.DataObjects.UserInfoEntity>
@{
    ViewBag.Title = "계정 관리";
}
<h2><a href="/Admin">@ViewBag.Title</a></h2>


<div>
    <div class="container">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("승인 대기", "Index", "Admin")</li>
            <li>@Html.ActionLink("홈페이지 신청", "Homepage", "Admin")</li>
            <li>@Html.ActionLink("서비스 중", "OnService", "Admin")</li>
            <li>@Html.ActionLink("기간 초과", "TimeOver", "Admin")</li>
            <li>@Html.ActionLink("보관 기간", "Keep", "Admin")</li>
            <li>@Html.ActionLink("삭제 필요", "Delete", "Admin")</li>
        </ul>
    </div>
</div>


<h2>서비스 중인 목록</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th class="col-md-1">ID</th>
            <th class="col-md-1">매장위치</th>
            <th class="col-md-1">매장이름</th>
            <th class="col-md-1">지불방법</th>
            <th class="col-md-1">사용기한</th>
            <th class="col-md-1">전화번호</th>
            <th class="col-md-1">개월</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-md-1">@item.PartitionKey</td>
                <td class="col-md-1">@item.RowKey</td>
                <td class="col-md-1">@item.ShopName</td>
                <td class="col-md-1">@item.Payment</td>
                <td class="col-md-1">@item.Period</td>
                <td class="col-md-1">@item.PhoneNumber</td>
                @using (Html.BeginForm("OnService", "Admin", FormMethod.Get))
                {
                    <td class="col-md-1"><input type="hidden" name="userInfo" value="@item.PartitionKey^@item.RowKey"><input class="btn" type="number" name="months" min="1"></td>
                    <td class="col-md-1"><input type="submit" value="연장"></td>
                }
            </tr>
        }
    </tbody>
</table>