@model List<seomoonsijang.DataObjects.IndexToView>
@{
    ViewBag.Title = ViewBag.ShopName;
}

<div class="jumbotron row">
    <div class="col-md-6">
        <img src="https://westgateproject.blob.core.windows.net/blob1/%E1%84%8E%E1%85%A9%E1%86%AB%E1%84%89%E1%85%B3%E1%84%85%E1%85%A5%E1%86%B8%E1%84%83%E1%85%A5%E1%86%AB%E1%84%82%E1%85%A1%E1%86%B7%E1%84%8C%E1%85%A1.png" style="height:200px; object-fit:contain;">

        <a href="/FloorInfo/@ViewBag.URL/">
            <p class="lead">@ViewBag.Building &nbsp; @ViewBag.Floor &nbsp; @ViewBag.Location</p>
        </a>
        <p class="lead">@ViewBag.PhoneNumber</p>
    </div>
    <div class="col-md-6">
            <table>
                <tr>
                    <th>
                        <img src="https://westgateproject.blob.core.windows.net/blob1/%E1%84%8F%E1%85%A1%E1%84%8F%E1%85%A1%E1%84%8B%E1%85%A9%E1%84%90%E1%85%A9%E1%86%A8.png" style="width:50px; height:50px; object-fit:contain;">
                    </th>
                    <th style="vertical-align:bottom" colspan="2">
                        <p class="lead">hoya-1999@hanmail.net</p>
                    </th>
                </tr>
                <tr>
                    <th>
                        <a href="https://story.kakao.com/gio8787">
                            <img src="https://westgateproject.blob.core.windows.net/blob1/%E1%84%8F%E1%85%A1%E1%84%8F%E1%85%A1%E1%84%8B%E1%85%A9%E1%84%89%E1%85%B3%E1%84%90%E1%85%A9%E1%84%85%E1%85%B5.png" style="width:50px; height:50px; object-fit:contain;">
                        </a>
                    </th>
                    <th style="vertical-align:bottom" colspan="2">
                        <a href="https://story.kakao.com/gio8787">
                            <p class="lead">gio8787</p>
                        </a>
                    </th>
                </tr>
                <tr>
                    <th>
                        <img src="https://westgateproject.blob.core.windows.net/blob1/%E1%84%83%E1%85%A2%E1%84%80%E1%85%AE%E1%84%8B%E1%85%B3%E1%86%AB%E1%84%92%E1%85%A2%E1%86%BC.png" style="width:50px; height:50px; object-fit:contain;">
                    </th>
                    <th style="vertical-align:bottom">
                        <p class="lead">504-10-220321-0</p>
                    </th>
                    <th style="vertical-align:bottom">
                        <p class="lead">촌스럽던남자</p>
                    </th>
                </tr>
                <tr>
                    <th>
                        <img src="https://westgateproject.blob.core.windows.net/blob1/%E1%84%82%E1%85%A9%E1%86%BC%E1%84%92%E1%85%A7%E1%86%B8.jpg" style="width:50px; height:50px; object-fit:contain;">
                    </th>
                    <th style="vertical-align:bottom">
                        <p class="lead">302-0989-9025-61</p>
                    </th>
                    <th style="vertical-align:bottom">
                        <p class="lead">한승호</p>
                    </th>
                </tr>
</table>
            
    </div>
</div>


<div class="row">
    @if (Model.Count > 0)
    {
        <h2>&nbsp;최근 등록된 소식</h2>
        foreach (var item in Model)
        {
            <div class="col-md-4" style="border: 1px solid gold;">
                <img src=@item.BlobURL style="width:350px; height:350px; object-fit:contain; @item.Orientation">
                <p>
                    <h4 style="font-weight:bold">@item.Text</h4>
                </p>
            </div>
        }
    }
    else
    {
        <h2>&nbsp;최근 등록된 소식이 없습니다.</h2>

    }
</div>