<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="canonical" href="https://서문시장.net">
    <meta name="robots" content="index,follow">
    <meta name="description" content="구경 한 번 와보세요, 보기엔 그냥 전통시장이지만, 있어야 할건 다 있구요, 없을건 없답니다 서문시장~">

    <meta property="og:type" content="website">
    <meta property="og:title" content="서문시장.net">
    <meta property="og:description" content="구경 한 번 와보세요, 보기엔 그냥 전통시장이지만, 있어야 할건 다 있구요, 없을건 없답니다 서문시장~">
    <meta property="og:image" content="https://westgateproject.blob.core.windows.net/blob1/smMarketIcon144.png">
    <meta property="og:url" content="https://서문시장.net">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



    <title>서문시장.net</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("서문시장", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("약도", "About", "Home")</li>
                    <li>@Html.ActionLink("앱", "Intro", "Home")</li>
                </ul>
                 @*@Html.Partial("_LoginPartial")*@ 
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 쇠젓가락</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
